@font-face {
    font-family: 'Norse';
    src: url("./assets/Norsebold.otf");
}

body {
  font-family: "Open Sans", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: normal;
  font-style: normal;
  padding: 0;
  margin: 0;
  --image-container-width: 35vw;
}

.container {
    display: flex;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.image-container {
    outline: 1px solid black;
    width: var(--image-container-width);
    background-color: rgba(59, 55, 0, 0.993);
    background-image: url("./assets/ancient-north-european-god-freyr-illustration.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: round;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;    
    align-items: center;
    margin: 90px 0;
}

.logo-img {
    width: 50px;
    height: auto;
}

.logo-text {
    font-family: "Norse", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 50px;
    font-weight: bolder;
}

.artist {
    align-self: center;
    margin-bottom: 10px;
}

.artist a {
    color: rgb(139, 139, 139);
    text-decoration: none;
}

.form-container {
    width: calc(100vw - var(--image-container-width));
    padding-top: 80px;
    --padding: 10px 30px;
}

.statement, .form-container h3, .form-container button, .login {
    margin: var(--padding);
}

.statement {
    font-weight: bold;
}

.form-container h3 {
    margin-top: 50px;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
    padding: var(--padding);
    padding-bottom: 30px;
}

fieldset:after {
    content:"";
    transform: scale(1.1) translateY(34px);
    box-shadow: 0px 0px 10px 2px #000000;
}

.input-row {
    display: flex;
    gap: 100px;
}

.input {
    display: flex;
    flex-direction: column;
}

.input label {
    font-size: small;
    font-weight: bold;
    color: rgb(68, 68, 68);
}

input {
    min-height: 1.2lh;
    border-width: 1px;
    border-color: rgba(128, 128, 128, 0.322);
}

.is-valid:invalid, .password {
    border: 1px solid rgba(255, 0, 0, 0.8);
}

.phone-error, .error, #show-password {
    margin: 0;
    padding: 0;
    font-size: 10px;
    color: rgba(255, 0, 0, 0.8);
    display: none;
}

#show-password {
    display: block;
    color: blue;
    cursor: pointer;
    background-color: white;
    text-align: left;
    border: none;
}

form button:nth-child(2) {
    background-color: rgb(60, 112, 60);
    border: none;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    font-weight: bolder;
}

.login {
    margin-top: 20px;
    color: rgb(53, 52, 52);
}

.login a {
    color: inherit;
    text-decoration: none;
}